<div class="container">
    <div class="password-header ">
        {%- if settings.logo_image_desktop != blank -%}
            {%- assign logo_image = settings.logo_image_desktop -%}
            {%- assign logo_width = settings.logo_width_desktop -%}
            {%- assign logo_height = logo_width | divided_by: logo_image.aspect_ratio | round -%}
            <img
                srcset="{%- if logo_image.width >= 165 -%}
                {{ logo_image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if logo_image.width >= 330 -%}
                {{ logo_image | image_url: width: 330 }} 330w,{%- endif -%}
              {%- if logo_image.width >= 535 -%}
                {{ logo_image | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if logo_image.width >= 750 -%}
                {{ logo_image | image_url: width: 750 }} 750w,{%- endif -%}
              {{ logo_image | image_url }} {{ logo_image.width }}w"
              src="{{ logo_image | image_url: width: 330 }}"
              sizes="{{ logo_width }}px"
              loading="lazy"
              class="header__normal-logo none-sticky"
              width="{{ logo_width }}"
              height="{{ logo_height }}"
              alt="{{ logo_height.alt | default: shop.name | escape }}"
              style="width: {{ logo_width }}px">
            {%- else -%}
            <h1 class="mb-0 h2">{{ shop.name }}</h1>
            {%- endif -%}
    
            {%- if shop.password_message != blank -%}
            <div class="password-content">
                {{ shop.password_message }}
            </div>
            {%- endif -%}
            <h2 class="password-modal__content-heading mb-0 d-flex align-items-center" id="DialogHeading">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="17px" height="17px">    <path d="M 12 1 C 8.6761905 1 6 3.6761905 6 7 L 6 8 C 4.9069372 8 4 8.9069372 4 10 L 4 20 C 4 21.093063 4.9069372 22 6 22 L 18 22 C 19.093063 22 20 21.093063 20 20 L 20 10 C 20 8.9069372 19.093063 8 18 8 L 18 7 C 18 3.6761905 15.32381 1 12 1 z M 12 3 C 14.27619 3 16 4.7238095 16 7 L 16 8 L 8 8 L 8 7 C 8 4.7238095 9.7238095 3 12 3 z M 6 10 L 18 10 L 18 20 L 6 20 L 6 10 z M 12 13 C 10.9 13 10 13.9 10 15 C 10 16.1 10.9 17 12 17 C 13.1 17 14 16.1 14 15 C 14 13.9 13.1 13 12 13 z"/></svg>                <span class="text">
                    {{ 'general.password_page.login_form_heading' | t }}
                </span>
                </h2>
        </div>
    </div>
</div>

<div class="password-modal__content" tabindex="-1">
    <div class="content__password" data-title="{{ 'general.password_page.login_form_heading' | t }}">
        {%- form 'storefront_password', class: 'password-form' -%}
            <div class="form-field form-group  mb-15 d-flex flex-column">
                <input
                    type="password"
                    name="password"
                    id="Password"
                    class="form-input form-input-placeholder"
                    autocomplete="current-password"
                    {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                    >
            </div>
            
            {%- if form.errors -%}
            <div id="PasswordLoginForm-password-error" role="status">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">
                {{ 'general.password_page.login_form_error' | t -}}
                </span>
            </div>
            {%- endif -%}
            <div class="form-actions auth-actions mt-15 mb-10 d-flex flex-column text-center">
                <button name="commit" class="button button-login btn btn-primary">
                    {{ 'general.password_page.login_form_submit' | t }}
                </button>
            </div>
            {%- endform -%}
            <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
    </div>
</div>